[submodule "infra/embedded-infra-lib"]
	path = infra/embedded-infra-lib
	url = https://github.com/embedded-pro/embedded-infra-lib.git
[submodule "infra/hal/st"]
	path = infra/hal/st
	url = https://github.com/embedded-pro/hal-st.git
[submodule "infra/numerical-toolbox"]
	path = infra/numerical-toolbox
	url = https://github.com/embedded-pro/embedded-numerical-toolbox.git
